/* Coolors Exported Palette - https://coolors.co/98c1d9-3d7068-a44a3f-bf4e30-1c448e */

/* CSS HEX */
--dark-sky-blue: #98c1d9ff;
--myrtle-green: #3d7068ff;
--medium-carmine: #a44a3fff;
--sinopia: #bf4e30ff;
--dark-cornflower-blue: #1c448eff;

/* CSS HSL */
--dark-sky-blue: hsla(202, 46%, 72%, 1);
--myrtle-green: hsla(171, 29%, 34%, 1);
--medium-carmine: hsla(7, 44%, 45%, 1);
--sinopia: hsla(13, 60%, 47%, 1);
--dark-cornflower-blue: hsla(219, 67%, 33%, 1);

/* SCSS HEX */
$dark-sky-blue: #98c1d9ff;
$myrtle-green: #3d7068ff;
$medium-carmine: #a44a3fff;
$sinopia: #bf4e30ff;
$dark-cornflower-blue: #1c448eff;

/* SCSS HSL */
$dark-sky-blue: hsla(202, 46%, 72%, 1);
$myrtle-green: hsla(171, 29%, 34%, 1);
$medium-carmine: hsla(7, 44%, 45%, 1);
$sinopia: hsla(13, 60%, 47%, 1);
$dark-cornflower-blue: hsla(219, 67%, 33%, 1);

/* SCSS RGB */
$dark-sky-blue: rgba(152, 193, 217, 1);
$myrtle-green: rgba(61, 112, 104, 1);
$medium-carmine: rgba(164, 74, 63, 1);
$sinopia: rgba(191, 78, 48, 1);
$dark-cornflower-blue: rgba(28, 68, 142, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-right: linear-gradient(90deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-bottom: linear-gradient(180deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-left: linear-gradient(270deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-top-right: linear-gradient(45deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-bottom-right: linear-gradient(135deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-top-left: linear-gradient(225deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-bottom-left: linear-gradient(315deg, #98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);
$gradient-radial: radial-gradient(#98c1d9ff, #3d7068ff, #a44a3fff, #bf4e30ff, #1c448eff);