<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Privacy</title>
    <meta property="og:site_name" content="CharShare Server">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="View information regarding user privacy on this service">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
	<link rel="stylesheet" href="css/palette1.scss">
</head>

<body style="background-color: #e9ecef;">
<div id="afterBox"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="shareserver/afterBox.js"></script>
    <script id="header" src="/assets/header.js"></script>
	<div class="jumbotron">
		<h1 class="display-4">Privacy Policy</h1>
		<p class="lead">
			Important language:<br>
			- File: refers to a file upload, paste, or url shorten on this service<br>
			- COPPA: Children's Online Privacy Protection Act<br>
			<br>
			Privacy:<br>
			By using the "CharShare Server" (the Service) you consent to storage of any information included in your use of the Service (the "files"). The Files are stored and visible to the owner of the web page "charmines" for administrative purposes only. Files may be deleted by the owner if the file seems to be of improper use. If you have any questions or issues please contact the owner by "sending him a Discord DM: charmines#1522 or by speaking with him directly". If you would like to request a file to be permanently deleted including from any backups please contact the owner as stated above. Added to this the use of this service is not the responsibility of the owner<br>
			<br>
			Law:<br>
			This service does intend to comply with online protection laws including those of the COPPA standard. Any use of this service beyond those lawful uses may be reported to officials and permanently deleted without notice depending on the owners discrepancy.<br>
		</p>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
</body>

</html>